<header>
    <img src='img/angular.svg'>
    <h1>{{title}}</h1>
</header>
<main>
    <form class="todo-form" (ngSubmit)="create(); todoForm.reset()" #todoForm="ngForm">
        <input type="text" name="title" [(ngModel)]="newTodoTitle" placeholder="What must I do?" required>
            <button type="submit" [disabled]="todoForm.form.invalid">Add</button>
    </form>
    <section class="todo-list" *ngIf="todos.length>0">
        <div class="todo-item" *ngFor="let todo of todos" [class.completed]="todo.completed">
            <button class="checkbox icon" (click)="toggle(todo)">
                <i class="material-icons">{{ todo.completed ? 'check_box' : 'check_box_outline_blank' }}</i>
            </button>
            <span class="title">
                {{todo.title}}
            </span>
            <div class="actions">
                <button class="delete icon">
                    <i class="material-icons" (click)="delete(todo)">delete</i>
                </button>
            </div>
        </div>

    </section>
</main>